
#footer {
    .footer-sous-titre {
        @include light-on-blue-style(1.5rem);
    }
    ul {
        list-style: none ;
        padding : 0 ;
    }
    li {
        @include text-on-blue-style();
        line-height : 1.5em ;
        @media screen and (max-width: $break-sm) {
            font-size : 0.8em ;
            line-height : 1.8em ;
        }
    }



    .footer-reverse {
        direction: rtl;
        unicode-bidi: bidi-override;
    }
    a {
        color : $beige ;
        cursor : pointer ;
    }

    .credits {
        @include light-on-blue-style(.8rem);
        margin : 20px auto ;
        opacity : 0.5 ;
    }

}
