.front-gallery {
    background-color : $gold ;
    padding-top : 55px ;
    padding-bottom : 55px ;
    margin-bottom : 25px ;
    height : auto ;
    overflow : hidden ;
    @media screen and (max-width: $break-sm) {
        padding : 10px 0 ;
    }
    width : 100% ;
    .card-columns {
        column-count: 4;
        grid-gap: 10px;
        @media screen and (max-width: $break-sm) {
            column-count: 2;
        }
    }
    .container {
        position : relative ;
        padding : 25px ;
        background-color : $white ;
        @media screen and (max-width: $break-sm) {
            padding : 0 ;
        }
    }
    .card {
        border : none ;
        img {
            width : 100% ;
        }
        @include transition(transform,2s,ease-out);
        cursor : pointer ;

    }
    .card:hover {
        transform : scale(1.05) ;
    }
    .gallery-shader {
        width : 100% ;
        height : 220px ;
        position : absolute ;
        bottom : 0 ;
        left : 0 ;
        background-image: linear-gradient(to top, rgba(255,255,255,1),
        rgba(255,255,255,0));
        display : flex ;
        justify-content : center ;
        align-items: center ;
    }
    .gallery-shader-button {
        @include button($blue);
        cursor : pointer ;
    }

}
