.gallery-gallery {
    height : auto ;
    position : relative ;
    padding : 25px ;
    margin-bottom : 25px ;
    background-color : $white ;
    @media screen and (max-width: $break-sm) {
        padding : 0 ;
    }
    width : 100% ;

    .jumbotron {
        border-radius : 0 ;
        background-color : $beige;
        color : $blue ;
    }

    .jumbotron-heading {
        @include  titre-style();
    }

    .card-columns {
        column-count: 4;
        grid-gap: 10px;
        @media screen and (max-width: $break-sm) {
            column-count: 2;
        }
    }
    .card {
        border : none ;
        img {
            width : 100% ;
        }
        @include transition(transform,2s,ease-out);
        cursor : pointer ;

    }
    .card:hover {
        transform : scale(1.05) ;
    }
    .gallery-shader {
        width : 100% ;
        height : 100px ;
        position : relative ;
        background-image: linear-gradient(to top, rgba(255,255,255,1),
        rgba(255,255,255,0));
        display : flex ;
        justify-content : center ;
        align-items: center ;
    }
    .gallery-shader-button {
        @include button($blue);
        cursor : pointer ;
    }

}
