#nav  {
   ul.menu-top {
     a { @include light-on-blue-style(1em) }
   }
   .navbar-toggler {
      color : $gold  ;
   }
}

#titre {
  font-family: $primary-font-family ;
  color : $gold ;
  font-size : 2rem ;
}

img.custom-logo {
  height : 2rem !important ;
}
